@model IEnumerable<ProjectViewModel>

@{
    ViewBag.Title = "Project";
    Layout = "_Layout";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h2>Projects</h2>
<div class="d-flex flex-column">
    @foreach (var project in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@project.Name</h5>
                <div>
                    <a class="btn btn-primary mr-3" target="_blank" href="@Url.Action("Index", "Board", new { id = project.Id })">Open</a>
                    <button type="button" class="btn btn-primary mr-3">
                        @Html.ActionLink("Edit", "Edit", new { id = project.Id }, new { @class = "projEdit" })
                    </button>
                    <a class="btn btn-primary mr-3" href="@Url.Action("Delete", "Projects", new { id = project.Id })">Delete</a>
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action("Create", "Projects", new { @class = "projCreate" })" class="btn btn-primary mr-3 projCreate">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        New project
    </a>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".projEdit").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
            $(".projCreate").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}